.contain{
    background-color: burlywood;
    width: 500px;
    overflow: hidden;
    height: 100px;
    border: black;
    border-radius: 50%;
    text-shadow: crimson;
    display: grid;
}

.contain +p{
    color: blue;
    align-self: center;
    justify-self: center;
}